.card {
  position: relative;
  width: 350px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Montserrat", sans-serif;
  flex-shrink: 1;
  margin: 20px 10px;
}

.card::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card:hover::after {
  opacity: 1;
}

.card__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* height: 35px; */
  background-color: #f0f8fa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.map-icon {
  margin: 15px;
}

.card__content {
  margin-top: -1px;
  width: 100%;
  height: 300px;
  background-color: #f0f8fa;
}

.weather {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather__icon {
  width: 25%;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 25%;
}

.info__date {
  width: 60px;
  height: 60px;
  background: #53b9e6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info__date h1 {
  font-size: 16px;
  font-weight: 300;
}

.info__weather {
  color: #a5adb0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.degrees {
  font-weight: 200;
  font-size: 50px;
  padding: 0px 20px;
}

.weather-name {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 200;
}

.location {
  font-size: 14px;
}

.card__footer {
  width: 100%;
  height: 150px;
  background: #2e3336;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__footer .item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.card__footer .item p {
  padding-left: 10px;
}
